<%= content_for :additional do %>
  <div class="actuality_expired_at">
    <span>Актуально до: </span>
    <% if announcement_entry.actuality_expired_at %>
      <%= l announcement_entry.actuality_expired_at %>
    <% else %>
      не указано
    <% end %>
  </div>
<% end %>
