.bundle
bin/*
db/*.sqlite3
db/*.sqlite3-journal
log/*.log
log/*.log.*
tmp/
config/database.yml
config/settings.yml
config/sunspot.yml
*.swp
*.swo
public/stylesheets/*.css
public/system/*
public/legacy/*
coverage/*
assets/*
.rake_tasks~
solr/data
solr/pids
