.bundle
bin/*
db/*.sqlite3
db/*.sqlite3-journal
log/*.log
tmp/
config/database.yml
config/settings.yml
*.swp
*.swo
public/stylesheets/*.css
public/system/*
assets/*
.rake_tasks~
coverage/index.html
coverage/resultset.yml
