<div class="edit_form_actions_wrapper <%= position %>">
  <ul class="edit_form_actions">
    <li><%= link_to t('Show'), [@folder,@entry], :class => "button" %></li>
    <%= form.commit_button :button_html => { :class => "button" } %>
    <li>
      <a rel="tipsy" class="since" href="#"
         title="Можно указать дату и время, когда новость должна быть опубликована">Когда опубликовать?</a>
    </li>
    <li>
      <a rel="tipsy" class="until" href="#"
         title="Если это анонс, то можно указать дату и время, когда новость будет снята с публикации">Когда спрятать?</a></li>
    <li>
      <a rel="tipsy" class="channels" href="#"
         title="Можно указать на каких сайтах и в каких разделах будет отображаться опубликованная новость">Где опубликовать?</a>
    </li>
  </ul>
</div>

