<ul class="tabs">
  <li class='active'><a href='#' id='issues'>Задачи</a></li>
  <li><a href='#' id='events'>Лента активности</a></li>
  <li class='notices'><a href='#'>Уведомления</a></li>
</ul>
<div class="under_tabs"></div>
