<div class="entry_fields_wrapper">
  <%= render :partial => 'entries/show_actions', :locals => { :position => "top" } %>

  <%= render :partial => @entry %>

  <%= render :partial => 'entries/show_actions', :locals => { :position => "bottom" } %>
</div>

