<div class="js-job-id" data-id="<%= @job_id %>">
  <h3 class='sync-status'>
    Синхронизация с каналом:
  </h3>
  <div class="progress-bar js-progress-bar" >
    <span class='js-progress-bar-number'></span>
  </div>
</div>
