<%= content_for :additional do %>
  <div class="additional">
    <% event_entry.event_entry_properties.each do | property | %>
      <h4>Дата и время проведения</h4>
      <p><%= interval_for property %></p>
      <% unless property.location.blank? %>
        <h4>Место проведения</h4>
        <p><%= property.location %></p>
      <% end %>
    <% end %>
  </div>
<% end if event_entry.event_entry_properties.exists? %>
