production: &normal
  adapter: postgresql
  database: espnews

development:
  <<: *normal

test:
  adapter:  nulldb

legacy_production: &legacy
  adapter: postgresql
  database: atonews

legacy_development:
  <<: *legacy

legacy_test:
  adapter:  nulldb
  schema:   db/legacy_schema.rb
