app:
  secret:  SECRET

errors:
  key:     KEY
  url:     http://errbit

slack:
  channel: channel
  webhook: http://webhook

amqp:
  url:     http://rabbitmq

solr:
  url:     http://localhost:8982/solr

sso:
  key:     KEY
  secret:  SECRET
  url:     http://sso

storage:
  url:     http://storage

youtube:
  api_key: KEY
