hoptoad:
  key:                key
  host:               host

smtp_settings:
  address:              'smtp.gmail.com'
  port:                 '587'
  domain:               'gmail.com'
  user_name:            ''
  password:             ''
  authentication:       'plain'
  enable_starttls_auto: true

omniauth:
  twitter:
    key:              key
    secret:           secret
  facebook:
    key:              key
    secret:           secret
  vkontakte:
    key:              key
    secret:           secret

