hoptoad:
  key:                key
  host:               host

smtp_settings:
  address:              'smtp.gmail.com'
  port:                 '587'
  domain:               'gmail.com'
  user_name:            ''
  password:             ''
  authentication:       'plain'
  enable_starttls_auto: true
  default_from:         'no-reply@tomsk.gov.ru'
  default_to:           ''

omniauth:
  twitter:
    key:              key
    secret:           secret
  facebook:
    key:              key
    secret:           secret
  vkontakte:
    key:              key
    secret:           secret

s3:
  access_key_id:      key_id
  secret_access_key:  secret_access_key

