<h1>
  <%= gilensize entry.title %>
</h1>

<div class='since'>
  <p><%= l entry.since, :format => :long %></p>
</div>

<div class='annotation'>
  <%= gilensize entry.annotation, :html => true %>
</div>

<div class='body'>
  <%= gilensize entry.body, :html => true %>
</div>

