<fieldset class="assets_with_form">
  <div class="inner">
    <% if @assets.any? %>
      <ul>
        <% @assets.each do |asset| %>
          <li>
            <%= render :partial => asset %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</fieldset>

