<fieldset class="assets_with_form">
  <div class="inner">
    <% if @entry.reload.assets.any? %>
      <ul>
        <% @entry.reload.assets.each do |asset| %>
          <li>
            <%= render :partial => asset %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</fieldset>

