<div id="fileupload" class="gal-holder">
  <div class="gal-item">
    <div class="fileupload-button gal-upload-holder">
      <%= content_tag(:span, t(:upload), :id => "fileupload", :class => "add") %>
      <%= render :partial => "upload_form" %>
    </div>
  </div>
  <div class="fileupload-list">
    <%= render :partial => @assets %>
  </div>
</div>

